<div id="navbox">
    <div id="logoimage"><img id="logo" src="/images/logo/OurLogo.png" alt=""></div>
    <div id="personal">
        <div class="personaloptions"><div class="text"><i class="bi bi-person-circle"></i>My account</div></div>
        <div class="personaloptions"><div class="text"><i class="bi bi-wallet2"></i>Orders</div></div>
        <div class="personaloptions"><div class="text"><i class="bi bi-heart-half"></i>Wishlist</div></div>
        <div class="personaloptions"><div class="text"><i class="bi bi-bell"></i>Notifications</div></div>
        <div class="personaloptions"><div class="text"><i class="bi bi-gear"></i>Settings</div></div>
        <div class="personaloptions"><div class="text"><i class="bi bi-cart3"></i>Cart</div></div>
    </div>
</div>